<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to News Api</title>
    {% endif %}
</head>
<body>  
    {% for source in source %}
    <div class="container">
        <h2>{{source.id}}</h2>
        <div class="row">
            <div class="col-6 col-md-4">
                <p>{{source.name}}</p>
            </div>
            <div class="col-6 col-md-4">
                <p>{{source.description}}</p>
            </div>
            
          </div>
    </div>
    {% endfor %}
</body>
</html>