<div class="navbar navbar-inverse navbar-light" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  style="font-family: cursive; font-weight: 900; font-size: 20px; color: lightgreen;" href="/"> NEWSAPP</a>
        </div>
 
    </div>
</div>